/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.container {
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-template-rows: 200px 200px 200px;
  min-height: 10vh;
  /* flex-direction: row-reverse; */
  /* justify-content: space-around; */
  /* align-items: center; */
}
.item {
  background: #0bd;
  color: #fff;
  /* margin: 10px; */
  padding: 10px;
}

.area1 {
  background-color: aqua;
}
.area2 {
  background-color: beige;
}
.orange {
  background-color: #ff8a5c;
}
.lifecyclemethod {
  background-color: bisque;
}
.TODO {
  background-color: blueviolet;
}
input {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
}
input:hover {
  cursor: pointer;
}
label:hover {
  cursor: pointer;
}
.row {
  display: flex;
  height: 5vh;
  align-items: center;
}
input {
  /* margin: 20px 20px; */
}
button {
  padding: 5px 10px;
  margin: 10px 10px;
  /* cursor: pointer; */
  /* outline: auto; */
  /* background-color: cornsilk; */
  /* display: flex; */
  background-color: #cccccc;
  color: #333;
  border-radius: 50vh;
  transition: 0.3s;
}
button:hover {
  background-color: #bbbbbb;
}
.input-area {
  background-color: antiquewhite;
  margin: 0px;
  padding: 10px;
  min-height: 50px;
}
.incomplete-area {
  background-color: aquamarine;
  margin: 0px;
  padding: 10px;
  min-height: 100px;
}
.complete-area {
  background-color: brown;
  margin: 0px;
  padding: 10px;
  min-height: 100px;
}
p {
  margin: 0px 0px;
  font-size: 18px;
}
ul {
  margin: 0px;
}
