.btn {
  width: 200px;
  padding: 14px 0 16px 0;
  font-size: 16px;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  color: #fff;
  background: #444;
  line-height: 1;
  border-radius: 50px;
  transition: all 0.5s;
}

.btn:hover {
  opacity: 0.6;
  background-color: #e6a1c0;
  transform: scale(1.1, 1.1);
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  /* outline: thick double aqua; */
  background-color: plum;
}

.square:hover {
  background-color: #999;
  cursor: pointer;
}

.kbd-navigation .square:focus {
  background-color: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
