#particles-js {
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.content {
  /* https://www.nxworld.net/css-centering-content.html */
  /* の8. absolute + transform */
  /* top: 10%;
  left: 25%;
  height: 100px;
  width: 100%; */
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  z-index: 100;
  transform: translate(-50%, -50%);
}
.content-text {
  color: #fff;
  line-height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  /* margin: 0; */
  /* これでページの外の余白を消せる */
  /* background: #111; */
}

canvas {
  display: block;
  /* vertical-align: bottom; */
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  transition: 0.5s;
}
button:hover {
  background-color: #ff77ff;
}
p {
  margin-right: 8px;
}

/*ホバーしたときのcss*/
button:hover {
  background-color: #ff77ff;
  color: #fff;
  cursor: pointer;
}

.input-area {
  background-color: #c1ffff;
  width: 400px;
  /* height: 30px; */
  padding: 8px; /*内側の余白*/
  margin: 8px 8px; /*外側の余白*/
  border-radius: 8px; /*角の丸さ*/
  text-align: center;
}

.incomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.none {
  display: none;
}

p.red {
  color: red;
}
p.blue {
  color: blue;
}

/*====================
スマホを基本設計にする
- 〜479px：スマートフォン縦
- 480px〜599px：スマートフォン横
- 600px〜959px：タブレット
- 960px〜1279px：小型PC
- 1280px〜：大型PC
====================*/

/* @media screen and (min-width: 1280px) {
  #particles-js {
    background-color: #b61924;
  }
} */
@media screen and (min-width: 600px) and (max-width: 1279px) {
  #particles-js {
    background-color: #f5587b;
  }
  .content {
    /* display: none; */
  }
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  #particles-js {
    background-color: #ff8a5c;
  }
  .content .input-area {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #particles-js {
    background-color: #000000;
  }
}
